@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");


body {
	padding: 50;
}

p {
	font-family: Inter,sans-serif;
	color:#333;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 100vh;
	max-width: 1200px;
	grid-column-gap: 20px;
}

.item1{
	grid-column: 1;
	grid-row: 1;
	align-content:  right;
	max-width: 300px;
}

.item2{
	grid-column: 2;
	grid-row: 1;
	max-width: 800px;
}

.item3{
	grid-column: 2;
	grid-row: 1;
	pointer-events: none;
}
.menu{
	/*max-width: 300px;*/
}	

.menu-buttons ul{
	list-style: none;
	padding-inline-start: 0;
}

.menu-buttons p{
	padding-inline-start: 20px;
	padding-right: 20px;
	/*text-align: justify;*/
	color: #111;
}

.menu-info{
	/*overflow-y:scroll;*/
	/*height: 100%;*/
}	

.button{
	font-size: 1rem;
	border: none;
	background-color: white;
	font-family: 'Roboto Mono', monospace;
	margin: 2px 0 2px 0;
}

.button-selected{
	font-size: 1rem;
	color:teal;
	border: none;
	background-color: white;
	text-decoration: underline;
	outline:none;
	font-family: 'Roboto Mono', monospace;
	margin: 2px 0 2px 0;
}

.button:hover{
	text-decoration: underline;
}

.button:active{
	outline:none;
}

.char-info{
	/*text-align: justify;*/
	font-family: inter,sans-serif;
	width: 300px;
	overflow-y:scroll;
	/*overflow: hidden;*/
	height: auto;
	max-height: 300px;
	max-width: 300px;
	/*margin: auto;*/
	background-color: rgba(260, 260, 260, 0.7);
	border: 1px solid rgba(250, 250, 250, 0);
	border-radius: 0px 0px 10px 0px;
	float: right;
	pointer-events: auto;
	padding: 10px 0 10px 0;
}

.hidden{
	display: none;
}

.char-info p {
	scrollbar-width: thin;
	height: 100%;
	margin: 10px;
}


.chart{
	/*height: 90vh;	*/
	margin: auto;
}

.legendBar{
	pointer-events: none;
	z-index: 6;
	position: absolute;
}

@media only screen and (max-width: 600px) {
	body{
		padding: 0;
		margin: 0;
	}
	.grid-container{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		position: absolute;
		float: left;
		grid-column-gap: 0;
		margin: auto;

	}
	.item1{
		grid-column: 1;
		grid-row: 1;
		/*z-index: 2;*/
		pointer-events: none;
	}
	.item2{
		grid-column: 1;
		grid-row: 1;
		/*z-index: 1;*/

	}
	.item3{
		grid-column: 1;
		grid-row: 1;
		z-index: 2;
	}
	.button-popup{
		pointer-events: all;
		position: absolute;
		z-index: 6;
		width:35px;
		height: 35px;
		border: 5px solid teal;
		border-radius: 15px;
		background-color: teal;
		text-decoration: none;
		outline:none;
		right:  0;
		top: 0;
		margin: 10px;
	}
	.menu-background{
		opacity: 0.5;
		background-color: white;
		z-index: 4;
		position: absolute;
		top: 0;
		left:  0;
		pointer-events: auto;
	}

	.menu{
		background-color: white;
		pointer-events: auto;
		/*display: none;*/
		z-index: 5;
		position: absolute;
		top: 0;
		left:  0;
		padding-top: 40px;
	}
	.menu-info{
	}
	.char-info{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
	}
}
 	
@media only screen and (max-width: 300px) {
	.char-info{
		width: 90vw;
	}
	.menu-buttons p{
		
	}

}