body {
	margin: 50;
	padding: 50;
}

div {
	/*background-color: teal;*/
}

img {
	width: 640px;
	height: 426px;
}
.container{
	/*background-color: blue;*/
	display: flex;
}

.menu{
	/*background-color: blue;*/
	width: 300px;
}	

.chartbox{
	/*background-color: blue;*/
}

.chart{
	background-color: ;
	width:500px;
	height: 500px;
}